<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="css/shCore.css" rel="stylesheet" type="text/css" />
  <link href="css/shThemeDefault.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container-md container-fluid">
      <div class="my-3 w-100 d-flex flex-column justify-content-around align-items-center">
        <div class="fw-bold fs-1 mx-3 my-1 my-md-3 text-center" style="width:70%">
          Blog
        </div>
        <div class="">
          <a href="/writeblog" style="text-decoration:none" class="btn btn-secondary fw-bold">Write Blog</a><br>
        </div>
      </div>
      <%blogs.forEach(function(blog){ %>
        <div class="w-100 m-auto card my-2">
          <span class="card-header fw-bold"><%=blog.name%></span><br>
          <pre class='brush: cpp w-100 m-auto card-body'>
            <code class="w-100 m-auto">
              <%= blog.text %>
            </code>
          </pre>
          <div class="card-footer">
            <span class="fw-bold">Explanation : </span><%=blog.explanation%>
          </div>
        </div>
        <%})%>
    </div>
  </body>
</html>
