<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
    <a href="/">Home</a><br>
    <form class="" action="/writeblog" method="post">
      <label for="name">Name</label><br>
      <input type="text" name="name" value=""><br>
      <label for="text">Write Blog</label><br>
      <textarea name="text" rows="10" cols="80"></textarea><br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
