<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>
  <body>
    <div class="container-md container-fluid">
      <div class="my-3 w-100 d-flex flex-column justify-content-around align-items-center">
        <div class="fw-bold fs-1 mx-3 my-1 my-md-3 text-center" style="width:70%">
          Blog
        </div>
        <div class="">
          <a href="/" style="text-decoration:none" class="btn btn-secondary fw-bold">Home</a>
        </div>
      </div>
      <!-- <a href="/" class="btn btn-secondary my-3 fw-bold">Home</a> -->

      <form class="" action="/writeblog" method="post">
        <label for="name" class="form-label mb-3 fw-bold">Problem Name :</label>
        <input type="text" name="name" class="form-control mb-3" value="">
        <label for="text" class="form-label mb-3 fw-bold">Write Code :</label>
        <textarea name="text" rows="10" cols="80" class="form-control mb-3"></textarea>
        <label for="explanation" class="form-label mb-2 fw-bold">Explanation :</label>
        <textarea name="explanation" rows="4" cols="80" class="form-control mb-2"></textarea>
        <button type="submit" name="button" class="btn btn-warning w-100 fs-4 fw-bold text-white">Submit</button>
      </form>
    </div>
  </body>
</html>
